<div class="card mt-3">
    <div class="card-header">
        <h4 class="panel-title">Most Popular</h4>
    </div>
    <div class="card-body">
        {{#each sidebar.popular}}
        <div class="col-md-4 text-center" style="paddingbottom: .5em;">
            <a href="/images/{{uniqueId}}"><img src="/public/ upload/{{filename}}" style="width: 75px; height: 75px;"
                    class="imgthumbnail"></a>
        </div>
        {{/each}}
    </div>
</div>